.login{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    border-radius: 10px;
}

/* HEADER */

.login__header{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.btn-left, .btn-right{
    width: 50%;
    padding: .6rem;
    text-align: center;
    border-radius: 10px 0 0 10px;
    background: var(--white-color);
    color: var(--black-text);
    font-weight: var(--medium-weight);
}

.btn-right{
    border-radius: 0 10px 10px 0;
    background: var(--black-text);
    color: var(--white-color);
}

.btn-left:hover{
    background: var(--black-text);
    transition: .3s;
    color: var(--white-color);
}

.btn-right:hover{
    background: var(--white-color);
    transition: .3s;
    color: var(--black-text);
}

/* BODY */

.login__body{
    display: flex;
    justify-content: center;
    width: 100%;
}

.login__body-title{
    font-weight: var(--default-weight);
    color: var(--white-color);
}

.login__form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem;
}

.login__form-group{
    display: flex;
    align-items: center;
    width: 100%;
}

.login__form-label{
    width: 40%;
    color: var(--white-color);
}

.login__form-input{
    width: 100%;
    padding: .6rem;
    border-radius: 10px;
    border: 2px solid var(--black-text);
}

/* FOOTER */

.login__form-footer{
    width: 100%;
    display: flex;
}

.login__form-btn{
    width: 100%;
    padding: .6rem;
    border-radius: 10px;
    border: 2px solid var(--black-text);
    background: var(--white-color);
    text-transform: uppercase;
    font-weight: var(--medium-weight);
}

.login__form-btn:hover{
    transition: .3s;
    border: 2px solid var(--white-color);
    background: var(--black-text);
    color: var(--white-color);
    cursor: pointer;
}

.login__form-error{
    color: var(--alert-color);
}

