.homenav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 4rem;
}

.homelogo{
    display: flex;
    align-items: center;
    width: 50%;
    height: 4rem;
    padding-left: 4rem;
    gap: .93rem;
}

.homelogo__span{
    font-size: var(--title-size);
    font-weight: var(--bold-weight);
    color: var(--white-color);
}

.homelogo__icon{
    font-size: 34px;
    color: var(--white-color);
}

.homelogo__icon:hover, .homelogo__span:hover{
    color: var(--black-text);
    transition: .3s;
}

.homelinks{
    display: flex;
    width: 50%;
    height: 4rem;
    padding-right: 4rem;
}

.homelinks__list{
    display: flex;
    width: 100%;
    height: 4rem;
    align-items: center;
    gap: .93rem;
    justify-content: flex-end;
}

.homelinks__list-link{
    padding: 0.6rem;
    color: var(--black-text);
    font-weight: var(--medium-weight);
    border: 2px solid var(--black-text);
    border-radius: 10px;
}

.homelinks__list-link:hover{
    background: var(--white-color);
    transition: .3s;
}