.news__card{
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 34rem;
    border-radius: 10px;
    border: 3px solid var(--black-text);
}

.news__card:hover{
    transition: .3s;
    border: 3px solid var(--purple-color);
    translate: 0 -4px;
}

.news__top{
    display: flex;
    width: 100%;
    height: 17rem;
    border-radius: 10px 10px 0 0;
}

.news__top-img{
    width: 100%;
    height: 17rem;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.news__bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 17rem;
    padding: .5rem;
    gap: .6rem;

    border-radius: 0 0 10px 10px;
    word-break: break-all;
}

.news__bottom-title{
    font-size: var(--regular-size);
}

.news__bottom-description{
    font-size: var(--small-size);
}

.news__bottom-date{
    font-size: var(--small-size);
    color: var(--purple-color);
    font-weight: var(--medium-weight);
}