.sport__card{
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 34rem;
    border-radius: 10px;
    border: 3px solid var(--black-text);
}

.sport__card:hover{
    transition: .3s;
    border: 3px solid var(--purple-color);
    translate: 0 -4px;
}

.sport__header{
    display: flex;
    width: 20rem;
    height: 6rem;
    padding: .5rem;

    border-radius: 10px 10px 0 0;
}

.sport__header-title{
    font-size: var(--regular-size);
}

.sport__body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 18rem;
    gap: .6rem;

    word-break: break-all;
}

.sport__body-img{
    width: 100%;
    height: 18rem;
    object-fit: cover;
}

.sport__footer{
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 10rem;
    gap: .6rem;
    padding: .5rem;

    border-radius: 0 0 10px 10px;
}

.sport__footer-description{
    font-size: var(--small-size);
}

.sport__footer-date{
    font-size: var(--small-size);
    color: var(--purple-color);
    font-weight: var(--medium-weight);
}