.hero__column{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.hero__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.hero__text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 68%;
}

.hero__text-bold{
    font-size: var(--extra-size);
    color: var(--white-color);
    font-weight: var(--medium-weight);
}

.hero__text-description{
    text-align: justify;
    line-height: 1.5rem;
    font-size: 1.05rem;
    color: var(--white-color);
}

.hero__text-button{
    padding: 0.6rem;
    color: var(--black-text);
    font-weight: var(--medium-weight);
    border: 2px solid var(--black-text);
    border-radius: 10px;
    margin-top: .93rem;
}

.hero__text-button:hover{
    background: var(--white-color);
    transition: .3s;
}

.hero__image{
    width: 700px;
    height: 550px;
    object-fit: cover;
    margin-top: -6rem;
}